/*	-------------------------------------------------------------
	MaYi.com
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Description:	一些hack和工具
	Filename:		 be.tools.css
	Author:         xw
	-------------------------------------------------------------	*/
/*=clearing */
	.clear{
		clear: both;
	}
	.clearfix:after {
		content: "."; 
		display: block; 
		height: 0; 
		clear: both; 
		visibility: hidden;
	}
	* html>body .clearfix {
		display: inline-block; 
		width: 100%;
	}
	* html .clearfix {
		/* Hides from IE-mac \*/
		height: 1%;
		/* End hide from IE-mac */
	}
		*+html .clearfix {
		/* Hides from IE7 \*/
		min-height: 1% ;
		/* End hide from Ie7 */
	}

/* end clearing */

/* =replace */
	.replace {
		display:block;		
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
		font-size: 1px;
	}
	/* tidy these up */
	.replace * {
		text-indent: -10000px;
		display:block;
		background-repeat: no-repeat;
		background-position: left top;
		background-color:transparent;
	}
	.replace a {
		text-indent:0;
	}
	.replace a span {
		text-indent:-10000px;
	}
/* end replace */

/* =text*/
	.tCenter{
		text-align:center;
		}
	.tRight{
		text-align:right;
	}	
	.fs-12{
		font-size:12px; /* displayed at 12px */
	}
	.fs-13{
		font-size:13px
	}
	.fs-14{
		font-size:14px
	}
	
	.fs-16{
		font-size: 16px;
	}
	
	.remark{
		color: #6F6F6F;
	}
	
	.link-green a{
       color: #467902;
	}
	.link-green a:hover,
	.linkRed a:hover,
	.link-red1 a:hover,
	.link-remark a:hover{
		color: #ff6600;
	}
	
	.link-remark a{
		color:#555
	}
	
	.link-red a{
       color: #CE0B2D;
	}
	.link-red1 a{
		color: Red;
	}
	
	.offOnline a{
		color: #9AAD81;
	}
	.fontRed,
	.mStar{
		 color: #CE0B2D;
	}
	.font-red{
		color: #CE0B2D;
	}
	.font-green{
       color: #467902;
	}
	.font-orange{
		color: #FF870F;
	}
	
	.font-new{
		font-family: Arial, Helvetica, sans-serif;
		color: Red;
		font-size: 11px
	}
	.font-e{
		font-family: Arial, Helvetica, sans-serif;
	}
	.font-none{
		font-weight: normal;
	}
	.font-blue{
		color: #049
	}
/*end text*/

/* =link-button*/
	.link-button,
	.link-button-select,
	.link-button-add,
	.link-button-write{
		 margin: 0;
		 padding: 0;
		 font-size: 13px;
	}
	
	.link-button a,
	.link-button-down a,
	.link-button-up a,
	.link-button-select a,
	.link-button-add a,
	.link-button-write a{
		display:inline-block;
		height:16px; 
		padding:2px 10px;
		/*border: 1px solid #F8D5A9;*/
		border: 1px solid #FBE6CC;
		background: #FDF4D7;
		line-height:17px;
		overflow:hidden;
		text-decoration: none;
		color: #C41200;
		/*border-right-color: #B57787;
		border-bottom-color:#B57787;*/
	}
	
	.link-button a:hover,
	.link-button-down a:hover,
	.link-button-up a:hover,
	.link-button-add a:hover,
	.link-button-write a:hover{
		border: 1px solid #8FB3ED; 
		background: #E8F3FF; 
		color: #049; 
		text-decoration: none;
	}
	
	.link-button-select a,
	.link-button-select a:hover{
		border:1px solid #8FB3ED;
		background: #C4D9FF;
		color: #049; 
		text-decoration: none;
		cursor:default;
	}
	/* =link-button-up/down*/	
	
	.link-button-down a{
		background:#FDF4D7 url(/images/admin/down.gif) no-repeat 5px 5px;
		padding-left: 18px
	}
	.link-button-down a:hover{
		background:#E8F3FF url(/images/admin/down.gif) no-repeat 5px 5px;
	}
	
	
	.link-button-up a{
		background:#FDF4D7 url(/images/admin/up.gif) no-repeat 5px 5px;
		padding-left: 18px
	}
	.link-button-up a:hover{
		background:#E8F3FF url(/images/admin/up.gif) no-repeat 5px 5px;
	}
	
	
	.link-button-add a{
		background:#FDF4D7 url(/images/admin/ico_add.gif) no-repeat 5px 5px;
		padding-left: 18px
	}
	.link-button-add a:hover{
		background:#E8F3FF url(/images/admin/ico_add.gif) no-repeat 5px 5px;
	}
	
	.link-button-write a{
		background:#FDF4D7 url(/images/admin/ico_write.gif) no-repeat 5px 5px;
		padding-left: 20px
	}
	.link-button-write a:hover{
		background:#E8F3FF url(/images/admin/ico_write.gif) no-repeat 5px 5px;
	}
	
	
	.link-button-select a{
		border:1px solid #8FB3ED;
		background: #C4D9FF;
		color: #004499;
	}


/*end link-button*/


/*link-ico*/
.link-ico,
.link-ico-message,
.link-ico-comment,
.link-ico-member{
	padding-left:20px;
}
.link-ico-message {
	background: url(/images/admin/message_new.gif) no-repeat 0 50%;
}
.link-ico-comment{
	background: url(/images/admin/comment.gif) no-repeat 0 53%;
}
.link-ico-member{
	background: url(/images/admin/user.gif) no-repeat 0 50%;
}

/*end link-ico*/

/* =position */
  /*=float*/
	.fl{
	   float: left;	
	}
	.fr{
		float: right;
	}
	/*=margin-top*/
	.mt-5{
		margin-top: 5px;
	}
	.mt-10{
		margin-top: 10px;
	}
	.mt-15{
		margin-top: 15px;
	}
	.mt-20{
		margin-top: 20px;
	}
	/*=margin-left*/
	.ml-5{
		margin-left: 5px;
	}
	.ml-10{
		margin-left: 10px;
	}
	/*margin-bottom*/
	.mb-5{
		margin-bottom: 5px;
	}
	.mb-10{
		margin-bottom: 10px;
	}
	/*=margin-right*/
	.mr-5{
		margin-right: 5px;
	}
	.mr-10{
		margin-right: 10px;
	}
	/*=padding*/
	.pd-5{
		padding: 5px;
	}
	.pd-10{
		padding: 10px;
	}

/*end position*/

/*=del*/
span.del a{
	  padding: 2px 2px 1px 2px;
	  background-color: #f1f1f1;
	  color: #666;
	  font-family: Arial, Helvetica, sans-serif;
	  text-decoration: none;
	  font-size: 9px;
}
span.del a:hover{
	background-color: #CE0B2D;
	text-decoration: none;
	color: #fff;
}
/*end del*/

img.ico-pic{
	padding: 2px;
	border:1px solid #ccc;
	background: #fff;
	display: block;
}

.img-album{
	background: url(/images/admin/stackedThumbnailCentered.gif) no-repeat;
	padding:5px 0 0 5px;
	width: 94px;
	height: 94px;
	text-align: left;
	margin:0 auto;
}
.commend-user img.userState,
img.userState{
	margin-right:3px;
}
.indent-f14{
	text-indent : 28px; 
}
.indent-u14{
	padding-left:28px;
}

.relative{
	position: relative;
	top: 0;
/*	margin: 0;*/
}

.dot-ul li,
.dot-ul ol,
.dot-dl dd,
.dot-only{
	background: url(/images/admin/dot.gif) no-repeat 5px 45%;
	padding-left:16px;
}


.help{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

dCenter{
	margin:0 auto;
}