<?xml version="1.0" encoding="gb2312"?>
<appSettings>
	<!-- 上传头像地址-->
	<add key="UserPicPath" value="/upload/UserPic/" />
	<!-- 用户头像缩略图大小-->
	<add key="UserPicWidth" value="91" />
	<!-- 用户头像上传文件大小限制 K -->
	<add key="UserPicSize" value="500" />
	<!-- 登录页地址 -->
	<add key="LoginUrl" value="http://www.ci3000.com/member/signin.aspx" />
	<!-- 主站地址 -->	
  <add key="MainUrl" value="http://www.ci3000.com" />
  <!-- 域名 -->
  <add key="Domain" value="www.ci3000.com" />
  <!-- cookies域名 -->
  <add key="CookiesDomain" value="ci3000.com" />
  <!--====Title===================================================-->
  <!-- title -->
  <add key="TitleAppend" value=" - 千言万语" />
  <!-- metaList -->
  <add key="MetaAppend" value="keywords|$description|$Copyright|" />   
  <!--====Title===================================================-->
    
</appSettings>
